[Unit]
Description=The headless_installer for ubuntu-custom-recovery service

[Service]
StandardOutput=journal+console
ExecStart=/bin/sh -c '/cdrom/recovery/bin/headless_installer > /dev/console'
Type=oneshot
RemainAfterExit=yes
Environment=TERM=xterm

[Install]
WantedBy=multi-user.target
